.page {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  background: #2a2c2f;
  color: #ffffff;
  max-width: 1440px;
  margin: auto;
  width: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.header {
  padding-top: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 48px;
  min-height: 52px;
  max-width: 1184px;
  width: calc(100vw - 96px);
}

.lead {
  max-width: 928px;
  margin: 0 auto 0;
  display: flex;
  flex-direction: column;
}

.lead__title {
  color: #ffffff;
  font-size: 96px;
  line-height: 100px;
  font-weight: normal;
  font-style: black;
  font-weight: 900;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  padding-bottom: 32px;
  text-rendering: optimizeLegibility;
}

.lead__image {
  width: 100%;
  object-fit: cover;
  margin: 0 auto;
  margin-bottom: 8px;
  max-height: 580px;
  max-width: 928px;
}

.lead__subtitle {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  padding-bottom: 56px;
  margin: 0 auto;
  text-align: center;
  text-rendering: optimizeLegibility;
  max-width: 640px;
}

.lead__caption {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}

.header__logo {
  max-width: 176px;
  max-height: 52px;
}

.header__lang-link_activ {
  text-decoration: underline;
}

.header__lang-links {
  display: flex;
  justify-content: space-between;
}

.header__lang-link {
  display: inline-block;
  color: #fff;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}

.header__lang-link:first-child {
  margin-right: 18px;
}

.intro {
  max-width: 928px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 92px;
}

.section-indent {
  padding-bottom: 92px;
}

.intro__title {
  max-width: 690px;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  padding-top: 92px;
  padding-bottom: 40px;
  margin: 0;
}

.intro__text {
  max-width: 690px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  padding-bottom: 33px;
  margin: 0;
}

.intro__list {
  padding-left: 0;
  list-style: none;
  margin: 0;
  font-size: 12px;
  line-height: 18px;
}

.intro__list-item {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

.intro__font-bold {
  font-weight: bold;
}

.photo {
  padding-bottom: 92px;
}

.photo-grid {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  max-width: calc(100vw - 96px);
  gap: 14px 14px;
  padding: 0;
  margin: 0 auto;
}

.photo-grid__item {
  width: 100%;
  height: 100%;
}

.places {
  margin: 0;
  padding-bottom: 92px;
}

.place {
  display: grid;
  grid-template-columns: 115fr 121fr;
  gap: 32px 48px;
  column-gap: 32px;
  row-gap: 48px;
  width: 928px;
  margin: 0 auto;
  padding-bottom: 80px;
}

.place:last-of-type {
  padding-bottom: 0;
}

.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  text-rendering: optimizeLegibility;
}

.place__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #ffffff;
  cursor: pointer;
}

.place__image {
  width: 100%;
  max-width: 440px;
}

.place__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
}

.website {
  align-self: end;
}

.place__paragraph {
  margin: 0 0 26px 0;
}

.place__paragraph:last-of-type {
  margin: 0;
}

.place__url-heading {
  color: #aaaaaa;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  margin: 0;
  padding-bottom: 12px;
}

.cover__background:hover {
  opacity: 0.8;
  transition: opacity 0.1s ease;
}

.cover__place {
  margin-bottom: 92px;
}

.cover__link {
  text-decoration: none;
}

.cover__background {
  background-image: url(./images/cover-trains.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.cover__background:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
}

.cover__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #ffffff;
  padding-top: 195px;
  max-width: 560px;
  max-height: 152px;
  margin: 0 auto;
  position: relative;
  text-rendering: optimizeLegibility;
}

.cover__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  position: relative;
  margin: 0 auto;
  padding: 32px 0 195px 0;
  max-width: 360px;
  max-height: 66px;
}

.footer {
  display: flex;
  justify-content: space-between;
  max-width: calc(100vw - 96px);
  margin: 0 auto;
}

.footer__links {
  display: flex;
  list-style: none;
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
}

.footer__link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  margin-right: 18px;
  text-decoration: none;
}

.footer__copyright {
  margin: 0 0 24px 0;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: calc(100vw - 48px);
  }
}

@media screen and (max-width: 738px) {
  .footer {
    flex-direction: column;
  }
  .footer__links {
    flex-direction: column;
    margin-bottom: 0;
  }
  .footer__link {
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 24px;
  }
  .footer__copyright {
    font-size: 14px;
    line-height: 14px;
  }
}

@media screen and (max-width: 768px) {
  .cover__place {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 560px) {
  .cover__place {
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1280px) {
  .cover__background {
    background-size: contain;
    width: 1184px;
    height: 740px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .cover__title {
    padding-top: 245px;
  }
}

@media screen and (max-width: 560px) {
  .cover__title {
    padding-top: 33px;
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
    max-height: 70px;
  }
  .cover__subtitle {
    padding-top: 16px;
    padding-bottom: 33px;
    font-size: 14px;
    line-height: 16px;
    max-width: 288px;
    max-height: 48px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 425px) {
  .places {
    padding-bottom: 66px;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    width: 984px;
  }
}

@media screen and (max-width: 930px) {
  .place {
    width: 720px;
    padding-bottom: 73px;
  }
}

@media screen and (max-width: 722px) {
  .place {
    grid-template-columns: repeat(auto-fit, 100%);
    row-gap: 32px;
    margin: 0 auto;
    max-width: calc(100vw - 32px);
    padding-bottom: 50px;
  }
  .website {
    align-self: center;
  }
  .place__title {
    font-size: 32px;
    line-height: 35px;
  }
  .place__image {
    width: 320px;
    justify-self: center;
  }
  .place__paragraph {
    font-size: 16px;
    line-height: 163%;
  }
}

@media screen and (max-width: 965px) {
  .photo {
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 425px) {
  .photo {
    padding-bottom: 64px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    max-width: calc(100vw - 48px);
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    max-width: calc(100vw - 32px);
  }
}

@media screen and (max-width: 425px) {
  .photo-grid__item {
    max-height: auto;
  }
}

@media screen and (max-width: 965px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 425px) {
  .lead__caption {
    margin-left: 16px;
  }
}

@media screen and (max-width: 768px) {
  .intro__title {
    padding-top: 88px;
  }
}

@media screen and (max-width: 425px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    padding-top: 64px;
  }
}

@media screen and (max-width: 965px) {
  .intro {
    max-width: calc(100vw - 48px);
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    max-width: calc(100vw - 32px);
    padding-bottom: 64px;
  }
}

@media screen and (max-width: 767px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
  }
}

@media screen and (min-width: 1279px) {
  .lead__subtitle {
    padding-bottom: 64px;
  }
}

@media screen and (max-width: 425px) {
  .lead__subtitle {
    padding-bottom: 40px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 767px) {
  .header__logo {
    max-width: 142px;
    max-height: 42px;
  }
}
@media screen and (max-width: 767px) {
  .header {
    width: calc(100vw - 48px);
  }
}

@media screen and (max-width: 425px) {
  .header {
    width: calc(100vw - 32px);
  }
}

@media screen and (min-width: 1279px) {
  .lead__image {
    max-width: 984px;
    max-height: 615px;
  }
}

@media screen and (min-width: 1279px) {
  .intro {
    max-width: 984px;
  }
}

@media screen and (min-width: 1279px) {
  .lead {
    max-width: 984px;
  }
}
