.intro {
  align-items: flex-start;
  padding-bottom: 92px;
}

@media screen and (max-width: 965px) {
  .intro {
    padding-bottom: 88px;
    max-width: calc(100% - 16px * 2);
  }
}

@media screen and (max-width: 425px) {
  .intro {
    padding-bottom: 64px;
  }
}
