.footer {
  display: flex;
  justify-content: space-between;
  max-width: calc(100vw - 96px);
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: calc(100vw - 48px);
  }
}

@media screen and (max-width: 738px) {
  .footer {
    flex-direction: column;
    max-width: calc(100vw - 32px);
  }
}
